<html lang="en">

<%-include("../partials/head")%>

<body>
    <div class="card textlight bg-dark text-light min-vh-100">
        
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-inline-flex flex-column align-items-center p-2" id="app" style="cursor: pointer;"><i class="fa fa-folder-open shadow" style="font-size: 3rem"></i><span class="text-nowrap shadow">Server Status</span></div>
                        <div class="d-inline-flex flex-column align-items-center p-2" id="appl" style="cursor: pointer;"><i class="fa fa-folder-open shadow" style="font-size: 3rem"></i><span class="text-nowrap shadow">#live-drag-times</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
        const app = document.querySelector("#app");
        const appl = document.querySelector("#appl");
        app.addEventListener("click", () => {
            window.parent._myFunc({
                title: "HLRP Server Status",
                width: "400px",
                height: "500px",
                url: "/public/apps/serverStatus/highlife",
            });
        });
        appl.addEventListener("click", () => {
            window.parent._myFunc({
		title: "HLRP Live Drag Times",
		width: "1024px",
		height: "800px",
		x: "center",
		url: "/api/bespoke/highlife/dragtimes/",
	});
        });
    </script>
</body>

</html>