
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(21, 94, 77, 1);
}

::-webkit-scrollbar-corner {
	background: transparent;
}

body {
	background-color: rgba(38, 21, 67, 1);
	color: #ddd;
}
