.winbox {
	background: transparent;
	border: 0px solid;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 0.5rem;
	overflow: hidden;
	/*box-shadow: none;*/
}
.wb-body {
	background: transparent;
	top: 0px;
	border: 0px solid;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 0rem 0rem 0.5rem 0.5rem;
	z-index: -1;
}

.wb-title {
	background: transparent;
	font-size: 0px;
	text-transform: uppercase;
	font-weight: 600;
	z-index: 1;
}
.wb-icon {
	background-color: #212529;
}

.wb-min {
	background-color: #212529;
}
.wb-max {
	background-color: #212529;
}
.wb-close {
	background-color: #212529;
}
.wb-icon span {
	opacity: 0.65;
}

.wb-icon span:hover {
	opacity: 1;
}

/* .wb-min {
	background-image: url(src/img/min.svg);
	background-size: 15px center;
}

.wb-max {
	background-image: url(src/img/max.svg);
}

.wb-close {
	background-image: url(src/img/close.svg);
}
*/
.wb-full {
	display: none;
}
