<!DOCTYPE html>
<html>
<%-include ("../partials/head.ejs") %>

<body>

    <div class="menu"><a href="#">Resources</a><a class="text-uppercase menu-middle" href="#">M.Kendall</a><a
            href="#">Contact</a></div>
    <div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cust-hero" style="background: url(img/header1.jpg) center / cover;"></div>
            </div>
            <div class="carousel-item">
                <div class="cust-hero" style="background: url(img/header2.jpg) right / contain no-repeat;"></div>
            </div>
            <div class="carousel-item">
                <div class="cust-hero" style="background: url(img/header3.jpg) center / cover;"></div>
            </div>
            <div class="carousel-item">
                <div class="cust-hero" style="background: url(img/header4.jpg) center / cover no-repeat;"></div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
            <li data-target="#carousel-1" data-slide-to="3"></li>
        </ol>
    </div>
    <div class="cust-sidetxt">
        <h2>This is</h2>
        <h3>My Domain</h3>
        <p>I'm still figuring out the rest<br>Come back soon</p><a class="btn disabled btnExplore" role="button">Explore</a>
    </div>

    <%-include ("../partials/foot.ejs") %>
</body>

</html>