<!DOCTYPE html>
<html>
<%-include ("../partials/head.ejs") %>

<body>

    <div class="menu"><a href="#">Resources</a><a class="text-uppercase menu-middle" href="#">M.Kendall</a><a
            href="#">Contact</a></div>
    <div class="cust-hero">
        <div class="cust-sidetxt">
            <h2>This is</h2>
            <h3>My Domain.</h3>
            <p>I'm still figuring out the rest.</p><a class="btnExplore" href="#" >EXPLORE</a>
        </div>
    </div>

    <%-include ("../partials/foot.ejs") %>
</body>

</html>