<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GrapeOS</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center align-items-center min-vh-100">
                <div class="form-row mb-5"><img src="assets/img/Emoji.svg" width="100px" height="100px"><span class="sp-brand">&lt;grapeOS/&gt;</span></div><a class="btn btn-primary btn-lg text-light" role="button" href="/auth/login"><i class="fa fa-user px-2"></i><span>Log in</span></a><span class="p-2 text-light">or</span><a class="btn btn-secondary btn-lg text-light" role="button" href="/home"><i class="fa fa-user px-2"></i><span>Browse as Guest</span></a>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>